.signup-slider{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.signup-slider > form{
    width: 500px;
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.signup-field {
    text-align: center;
    font-size: 16px;
    font-family: inherit;
    border-radius: 10px;
    border: solid 1px black;
    box-shadow: 2px 3px #0000005e;
    padding: 15px;
    margin: 10px;
    width: 70%;
}

.signup-field::-webkit-input-placeholder {
    color: black;
}

.heading{
    
}

.red-btn1 {
    color: white;
    background-color: rgb(209, 89, 89);  
    margin-top: 20px;
    border-radius: 8px;
    width: 100px;
    height: 30px;
}